/**************************************************** 移动端 ***************************************************/

@media screen and (max-width: 768px) {

  /******************** 导航 ********************/

  #nav {
    padding: 0 1rem;
  }

  #nav #toggle-menu {
    padding: 2px 0 0 0;
  }

  #nav #toggle-menu .site-page {
    display: flex;
    margin-left: 1rem;
    padding: 0;
  }

  #page-header.nav-fixed #nav {
    background: rgba(253,253,253,1) !important;
    backdrop-filter: none;
  }

  #nav #menus{
    flex: none;
  }





  
  /******************** 首页 ********************/

  .home #celis {
    display: none;
  }

  .home #celis .celis-welcome {
    height: 40vh;
  }

  .home #celis .celisbg > div {
    display: none;
  }

  .home #celis .celisbg > div.scene {
    display: grid;
    scale: 1 !important;
  }

  .home .sun {
    transform: translateY(-30vmax);
  }

  .planet {
    bottom: 180px;
  }

  .home #category {
    width: auto !important;
  }

  body#homes, body#type-dynamics {
    overflow: scroll;
  }

  .home #celis .celis-welcome .celis-info {
    font-size: 2rem;
    line-height: 4rem;
  }

  .home #celis .celis-welcome .celis-title {
    font-size: 1rem;
    font-weight: bold;
  }

  .home #content-inner {
    /* border-radius: 40px; */
    padding: 0 1rem;
    border: none;
    max-height: none;
    backdrop-filter: none;
    box-shadow: none;
    background: var(--glmp-bannerBg);
  }

  .home #content-inner .nav-tabs {
    margin-bottom: 1rem;
  }

  .home #recent-posts .recent-post-item .recent-post-info, 
  .home #category .article-sort-item .article-sort-item-info {
    padding: 1.2rem;
    font-size: .8rem;
  }

  .home #recent-posts .recent-post-item .recent-post-info>a, 
  .home #category .article-sort-item-title,
  .home #articles-container .card .card-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5px;
    -webkit-line-clamp: 2;
  }

  .home #articles-container .card .card-author img {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: .5rem;
  }

  .home #articles-container .card .card-author {
    font-size: .84rem;
  }

  .home #content-inner #recent-posts.active,
  .home #content-inner #recent-posts2 {
    display: block;
    overflow: visible;
  }

  .home #recent-posts .recent-post-items .recent-post-item, 
  .home #category .article-sort-item, 
  .home #articles-container .card {
    width: auto !important;
    background: var(--wh-color);
    box-shadow: 0 .2rem 1rem 0 hsl(0deg 0% 15% / 4%);
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .home #recent-posts .recent-post-items .recent-post-item .post_cover {
    display: block;
  }

  .home #recent-posts .recent-post-item .recent-post-info .article-meta-wrap, 
  .home #category .article-sort-item .article-sort-item-info .article-sort-item-time {
    margin: 10px 0 0 0;
    line-height: .9em;
    font-size: .8em;
  }

  .home #articles-container .card .card-date {
    bottom: 1rem;
    font-size: .8em;
  }

  .home #recent-posts .recent-post-items,
  .home #category .article-sort,
  .home #articles-container {
    display: block;
  }

  .home #content-inner .nav-tabs .tabsall > div .pagination span,
  .home #content-inner.appactive #recent-posts2,
  .home #content-inner .nav-tabs .tabsall > div.new-dynamic {
    display: none;
  }

  .home #articles-container .card {
    height: 126px;
  }

  .home #articles-container .card:nth-child(n+11) {
    display: none;
  }

  .home .modal {
    top: 0;
  }

  .home #footer {
    position: relative;
  }

  #footer-wrap {
    padding: 1rem;
  }

  #footer-wrap .footer-wrap-links {
    flex-direction: column;
    height: auto;
    font-size: .7rem;
  }

}